@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Orbitron:wght@500;700&display=swap');


body {

    margin: 0;

    background: #050505;

    color: white;

    font-family: 'Inter', sans-serif;

}


/*========================
    Tela principal
========================*/

#screen {

    width: 100vw;

    height: 100vh;


    display: flex;

    flex-direction: column;


    justify-content: center;

    align-items: center;


    text-align: center;

}



/*========================
    Logo
========================*/

h1 {

    font-family: 'Orbitron', sans-serif;

    font-size: 55px;

    letter-spacing: 8px;


    margin-bottom: 5px;

}



h2 {

    font-family: 'Orbitron', sans-serif;


    font-size: 28px;

    letter-spacing: 15px;


    color: #4aa3ff;


    margin-top: 0;

    margin-bottom: 50px;

}



/*========================
    Apps
========================*/

.app-container {

    display: flex;

    gap: 25px;

}



/*========================
    Cards
========================*/

.card {

    width: 150px;

    height: 120px;


    background: #111;


    border: 1px solid #333;


    border-radius: 18px;


    display: flex;

    flex-direction: column;


    justify-content: center;

    align-items: center;


    cursor: pointer;


    transition: 0.25s;

}



.card:hover {

    transform: scale(1.08);


    background: #1b1b1b;


    border-color: #4aa3ff;

}



/*========================
    Ícones
========================*/

.icon {

    font-size: 40px;

    margin-bottom: 10px;

}



/*========================
    Nome
========================*/

.name {

    font-size: 16px;

}
